# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# Virtual/Conda environments
.venv/
env/
*.env
*.conda
*.lock

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code settings
.vscode/

# System
.DS_Store
Thumbs.db
